@tailwind components;

// BEM Component: footer-form
// Block: footer-form
// Elements: field, label, input
// Modifiers: none in this example, but could add --large, --compact, etc.

@layer components {
  .footer-form-field {
    @apply my-1;
  }

  .footer-form-label {
    @apply text-sm;
    @apply mb-3;
    @apply inline-block;

    &[aria-required]::after {
      content: ' *';
    }
  }

  .footer-form-input {
    @apply block;
    @apply w-full;
    @apply px-3;
    @apply py-1;
    @apply text-black;
    @apply border;
    @apply border-2;
    @apply border-black;
    @apply rounded-none;
    @apply bg-transparent;
    @apply focus:border-black;
    @apply focus:ring-black text-xs;
    @apply leading-5;
  }
}
